@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
	background-color: antiquewhite;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: "Bungee";
	font-weight: 200;
	font-style: normal;
	color: #5B371B;
	background-color: chocolate;
	padding-bottom: 10px;
	text-align: center;
	
}

p {
	font-family:"Oldenburg"; 
	font-weight: 100;
	font-style: normal;
	color:antiquewhite;
	background-color: darkgreen;
	padding: 30px;
	display:block;
	float:inherit;
}

p2{
	background-color: burlywood;
	font-family:"Oldenburg";
}

ul{
	background-color:white;
	list-style:square;
	list-style-position: inside;
	font-family:"Oldenburg";
}

ol{
	background-color:white;
	list-style:lower-roman; 
	list-style-position: inside;
	font-family:"Oldenburg";
}

span{
	font-weight: bold;
	color: chocolate;
}

legend{
	font-size: 40px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	background-color:tan;
	padding: 20px;
	color:darkgreen;
}

h2{
	color:darkgreen;
	font-family: "Bungee Regular";
}

.oldenburg-regular {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}

label{
	font-size: 18px;
	font-family:"Oldenburg";
	background-color:darkgreen;
	padding: 5px;
	color:wheat;
}

button{
	font-size: 25px;
}

button:hover {
  background-color: chocolate;
  color: wheat;
  font-size: 28px; 
}

input:focus {
  border: 2px solid green;
  outline: none;
}

button:active {
  background-color: darkred;
}


table{
	border: 10px outset darkgreen;
	width: 700px;
	height: 300px;
	border-radius: 10px; 
	border-collapse:separate;
	padding: 10px;
	margin: 40px;

}

td{
	font-family: "oldenburg";
}

th, td {
  	border: 1px solid #39200C;
  	padding: 10px;
  	text-align: center;
}

thead {
	
  	background-color: chocolate;
	font-family: 'Bungee Regular';
	font-size: 17px;
	color:#5A340E; 
}

tbody tr:nth-child(odd){
  	background-color:#F5D6A7;
}

tbody tr:nth-child(even){
  	background-color:#C0DCBE;
}