@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oldenburg-regular {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}


body{
	background-image: url("slike/pozadina.avif");
	margin: 0;
}


h1, h2, thread, button {
    font-family: "Bungee";
}

p, p2, ul, ol, td, label, input, select, a {
    font-family: "Oldenburg";
}

h1 {
	font-weight: 200;
	font-size: 50px;
	font-style: normal;
	color: #5B371B;
	background:linear-gradient(chocolate, saddlebrown);
	padding-bottom: 10px;
	text-align: center;	
}

h2{
	color:darkolivegreen;
	background-color:#ECB473;
	display: inline;
	font-size: 30px;
	padding: 0 10px;
	border-radius: 5px;
	margin-top: 20px;
}

p, ul, ol{
	color:antiquewhite;
	background-color: darkgreen;
	padding: 30px;
}

p { 
	font-weight: 100;
	font-style: normal;
	display:block;
	float:none;
	clear:both;
}

p2{
	font-size: 20px;
	color:darkolivegreen;
	background-color:#ECB473;
	display: block;
	margin: 20px auto;
}

ul{
	list-style:square;
	list-style-position: inside;
}

ol{
	list-style:lower-roman; 
	list-style-position: inside;
}


span{
	font-weight: bold;
	color: chocolate;
}

video[src] {
	border-radius: 10px;
}

img[alt] {
	border-radius: 10px;
}

iframe[src] {
	border:5px solid darkgreen;
}

object[type="image/gif"] {
	display: block;
	margin: 20px auto;
}

input[type="text"] {
	background-color: #fff8ee;
}

table[id="kornjace"] {
	margin: 40px auto;
}

form label {
	display:block;
}

form h2 {
	text-align: left;
}

fieldset, legend{
	font-size: 40px;
	background-color: #96b792;
	padding:20px;
	color:darkgreen;
}

legend{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

label{
	font-size: 18px;
	background-color:darkgreen;
	color:wheat;
	padding: 5px;
}

input:focus {
  border: 2px solid green;
  outline: none;
}

input, select {
	padding: 10px;
	border-radius: 8px;
	border: 2px solid #5B371B;
	margin-top: 5px;
	width: 60%;
}

input[name="vrsta"],input[name="mjesto"] {
    border: 2px solid chocolate;
}

select[name="zivotinja"],select[name="hrana"] {
	border: 2px solid chocolate;
}

table{
	border: 10px outset darkgreen;
	width: 700px;
	border-radius: 10px; 
	border-collapse:separate;
	padding: 10px;
}

thead {
  	background-color: chocolate;
	font-size: 17px;
	color:#5A340E; 
}

th, td {
  	border: 1px solid #39200C;
  	padding: 10px;
  	text-align: center;
	vertical-align: middle;
}

button[type="submit"] {
	background-color: chocolate;
	color: white;
	padding: 12px;
	border: none;
	border-radius: 10px;
	font-size: 24px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #b05a1e;
}

button[type="submit"]:active {
	background-color: #7a3d12;
}


tbody tr:nth-child(odd){
	background-color:#F5D6A7;
}

tbody tr:nth-child(even){
	background-color:#C0DCBE;
}

a {
	font-size: 24px;
	font-weight: 600;
	padding:20px;
	border-radius: 10px;
	background-color:rgba(239,189,155,0.50)
}

a:hover {
	color: rgba(112,112,200,1.00);
}


@media (max-width: 768px) {

p, ul, ol {
padding: 15px;
font-size: 16px;
}
  
h1 {
font-size: 35px;
}

h2 {
font-size: 24px;
display: inline-block;
margin-bottom: 10px;
}
    
img, iframe, object {
width: 100%;
height: auto;
}

   
input, select {
width: 90%;
font-size: 16px;
}

    
table {
width: 100%;
display: block;
}

label {
font-size: 16px;
display: block;
}

button {
width: 80%;
font-size: 20px;
padding: 10px;
}

}
