@charset "utf-8";
/* CSS Document */
h1 {
	font-family: "Bungee Regular";
	font-weight: 200;
	font-style: normal;
	color: #5B371B;
	background-color: chocolate;
	padding-bottom: 10px;
	
}

p {
	font-family: "Parkinsans VariableFont wght";
	font-weight: 100;
	font-style: normal;
	color: antiquewhite;
	background-color: darkgreen;
	padding: 30px;
}